.image-block {
    margin-bottom: 30px;
    padding: 15px;
    font-family: Arial;
    max-width: 600px;
    margin: 30px auto; /* Добавил отступ сверху/снизу */
    padding: 20px;
    border-radius: 8px; /* Скруглим углы */
    transition: all 0.3s ease-in-out;
}

.image-block:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.image-block img {
    max-width: 100%;
    height: auto;
    border-radius: 4px; /* Скруглим углы у самих картинок */
}